*{
    margin: 0;
    padding: 0;
}
nav{
    grid-area: aside;
    height: 80vh;
    width: 20vw;
    background-color: #00579c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.carlogo{
  display: flex;
  align-items: center;
}
.carlogo p{
  color: white;
}
.carlogo img{
  width: 50px;
  height: 50px;
}
.menuburge{
  justify-content: space-around
}
.grid-container{
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
}
aside{
  background-color:#e2e2e2 ;
  display: flex;
  flex-direction: column;


}
.form_control{
  border-radius: 5px;
}
.imgcard img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.infocard{
  display: flex;
  justify-content: center;
}
.button-card{
  display: flex;
  justify-content: center;
  margin: 10px;
}
button{
  background-color: #00579c;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size:x-large
}
p{
  font-size: 30px;
}
footer{
    background-color: #012f6b;
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



@media screen and (max-width: 564px) {
    ul{
      display: none;
    }
    nav{
      height: 100%;
      width: 100%;
      align-items: center;
    }
    .menuburge{
      padding: 20px;
    }
    aside{
      height: 80px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .form_control{
      width: 500px;

    }
    .pagination{
      display: flex;
    }
    .pagination-container ul{
      display: flex;
      flex-direction: row;
    }
    footer{
      height: 100%;
      width: 100%;
      align-items: center;
    }
    .grid-container{
      grid-template-columns: 100%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .footer {
      font-size: 20rem;
    }
    .menuburge{
      display: none;
    }
  }