*{
    margin: 0;
    padding: 0;
}
nav{
    /* grid-area: "navbar"; */
    height: 80vh;
    width: 20vw;
    background-color: #00579c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carlogo{
  display: flex;
  align-items: center;
}
.carlogo p{
  color: white;
}
.carlogo img{
  width: 50px;
  height: 50px;
}
.menuburge{
  justify-content: space-around;
}
ul{
  color: white;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
}
aside{
  background-color:#e2e2e2 ;
  display: flex;
  flex-direction: column;
}
.form_control{
  border-radius: 5px;
}
.imgcard img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.infocard{
  display: flex;
  justify-content: center;
}
.button-card{
  display: flex;
  justify-content: center;
  margin: 10px;
}
button{
  background-color: #00579c;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size:x-large
}
p{
  font-size: 30px;
}
footer{
    background-color: #012f6b;
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



@media screen and (max-width: 564px) {
    ul{
      display: none;
    }
    nav{
      height: 100%;
      width: 100%;
      align-items: center;
      flex-direction: row;
    }
    .menuburge{
      padding: 20px;
    }
    aside{
      height: 80px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .form_control{
      width: 500px;

    }
    .pagination{
      display: flex;
    }
    .pagination-container ul{
      display: flex;
      flex-direction: row;
    }
    footer{
      height: 100%;
      width: 100%;
      align-items: center;
    }
    .grid-container{
      grid-template-columns: 100%;
    }
  }
  
  @media screen and (min-width: 565px) {
    body{
      display: grid;
      grid-template-areas: 
      "navbar grid-container"
      "footer grid-container"
      ;
    }
    footer {
      font-size: 20rem;
      display: grid;
      grid-template-rows: 20% 80%;
      grid-area: footer;
      place-items: center;
    }
    nav{
      display: grid;
      grid-template-rows: 20% 80%;
      grid-area: navbar;
    }
    .menuburge{
      display: none;
    }
    .car-container{
      display: grid;
      grid-area:car-container ;
      height: 80vh;
      width: 80vw;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
      gap: 20px;
    }
    aside{
      align-items: center;
      grid-area: aside;
      justify-content: center;
    }
    .pagination{
      grid-area: pagination;
    }
    .grid-container{
      grid-area: grid-container;
      grid-template-columns: 100%;
      grid-template-rows: 10% 80% 10%;
      grid-template-areas:  
      "aside"
      "car-container"
      "pagination"
      ;
    }
    .pagination-container{
      display: flex;
      text-decoration: none;
      justify-content: center;
      gap: 30px;
      width: 80vw;
    }
    .page-item{
      font-size: 40px;
      list-style: none;
      border: solid 1px black;
      
    }
    .form_control{
      width: 60vw;
    }
    .menu{
      display: flex;
      flex-direction: column;
      margin: 10px;
    }
    .menu-item{
      list-style: none;
      margin: 10px;
    }
    .footer-img{
      display: grid;
      grid-template-columns: 50% 50%;
      place-items: center;
  }
  .p-footer{
    font-size: 20px;
  }
  }